header {
    background-color: #333333;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 20px;
    margin: 40px 0;
    background-color: #1a1a1a;
}

body {
    background-image: url('creative-geometric-design-space_53876-89781.avif');
    background-size: cover; /* This ensures the image covers the entire background */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image stay fixed when you scroll */
}


#about {
    display: flex;
    align-items: center;
    background-color: #262626;
}

#about img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

h2 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    color: #e0e0e0;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #007acc;
}

button {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
}

button:hover {
    background-color: #007acc;
}

[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 1s;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
}

[data-aos].aos-animate {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

footer {
    background-color: #333333;
    color: #e0e0e0;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    margin: 0 10px;
}

footer a:hover {
    color: #1e90ff;
}
