
body {
    font-family: 'Roboto', sans-serif; /* Example of a different font */
    color: #e0e0e0; 
    background-color: #000000; 
    margin: 0;
    padding: 0;
}
header h1 {
    font-size: 2.5rem; /* Larger font size for the main heading */
}
h2 {
    font-size: 2rem; /* Larger subheading */
}
p {
    font-size: 1.2rem; /* Increase the size of paragraphs */
}

a {
    color: #1e90ff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: blue;
}

header {
    background-color: #333333; 
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #ffffff; 
}


nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    padding: 20px;
    margin: 10px 0;
}

h2, h3 {
    color: #ffffff; 
}


button {
    background-color: #1e90ff; 
    color: #ffffff; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
    margin: 0.5rem; 
}

button:hover {
    background-color: #007acc; 
}

/* Footer Styles */
footer {
    background-color: #333333; 
    color: #e0e0e0; 
    text-align: center;
    padding: 10px;
}
